body {
  background-color: #e5e0fa;
}

header h1 {
  text-align: center;
  color: rgb(27, 5, 107);
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
}

header span {
  text-align: center;
  color: blueviolet;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  display: block;
  margin: 0 auto;
}

header p {
  text-align: center;
  font-family: PT Mono, monospace;
  font-size: 18px;
  line-height: 28px;
  display: block;
  margin: 0 auto;
}
button {
  padding: 10px 20px;
  display: block;
  margin: auto;
  margin-bottom: 50px;

  border-radius: 20px;
  color: white;
  background-color: #8064e9;
  border: 1px solid #8064e9;
  line-height: 22px;
}
button:hover {
  transition: all 200ms ease;
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  background-color: blueviolet;
}
.container {
  display: block;
  margin-top: 120px;
}
img {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 20px;
  width: 50%;
}
